body {
  margin: auto;
}
.megacontainer {
  background-color: green;
  width: 1920px;
  height: 961px;
  margin: auto;
}
.container1 {
  width: 300px;
  height: 300px;
  background-color: blue;
  position: relative;
  display: inline-block;
}
.container2 {
  width: 300px;
  height: 300px;
  background-color: blue;
  position: relative;
  display: inline-block;
}
.quadrato {
  background-color: red;
  width: 50px;
  height: 50px;
}
.due {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.quattro {
  position: absolute;
  left: 20px;
}
