body {
  background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg);
  }
footer {
  color: gold;
  text-align: center;
}
.logo {
  width: 100px;
}
.logo-text {
  font-size: 25px;
  color: white;
  display: inline;
}
.container {
  width: 50%;
  margin: auto;
}
h2 > span {
  border-radius: 50%;
  background-color: orange;
  color: black;
  }
.row {
  background-color: grey;
}
.row-left {
  display: inline-block;
  width: 48%;
}
.row-right {
  display: inline-block;
  width: 48%;
}
#Piede {
  font-size: 25px;
  font-style: italic;
}
.unread {
  background-color: white;
  color: lightgrey;
}
